footer
    .footer-container
        .sub-container
            a(href='/forum') Forums
        .sub-container
          
            a(href='/findjob') Career
            a(href='/about') About us
        .sub-container-center
            span.iconify(data-icon='carbon:chat-bot' data-inline='false' style='color: #ffffff;' data-width='30' data-height='30')
            span
                a(href='/contact') Talk with Treach!
