footer
    .footer-container
        .sub-container
            a(href='/') Forums
            a(href='/') Resources
            a(href='/') Become a volunteer
        .sub-container
            a(href='/') Faq
            a(href='/') Career
            a(href='/') About us
        .sub-container-center
            span.iconify(data-icon='carbon:chat-bot' data-inline='false' style='color: #ffffff;' data-width='35' data-height='35')
            span Talk with Treach!
