section
    header
        a.logo(href='/')
            img(src='/assets/ico.png' alt='')
        ul
            if user
                li
                    button.logout Log Out
                li
               

                li
                    a.opaque-btn#space(href='/signup') #{user.fname}

                li


            else
                li
                    a.transparent-btn(href='/login') Log in
                li
                    a.opaque-btn(href='/signup') Sign up


    
            

