extends base

block content
    .container-resource
        .res-content
            .center
                h1  About
                h4
                    b Mission
                    p
                        | Creating community and knowledge around quality online, blended, and digital learning while driving innovation.
                    b Vision
                    p
                        | Setting the global standard in online and digital learning.
                    b What is treach all about?
                    p
                        | Treach is the future
                        | As education technology solutions and digital content usage increase in Africa, very few of its representative of its people are designed and built for an African context. School-going youth account for more than 35% of the population and are the backbone for these developing nations, but have limited access to the learning resources and culturally competent training needed for their education and professional development. We invest in building education technology solutions and digital content for a low bandwidth, mobile-centric education system is a challenge unique to the developing world and one that global education technology solutions do not access or support. 
                        | We exist to enable African learning institutions especially teachers to leverage education technology platforms and content to meet their teaching objectives. Our belief is technology can help institutions in Africa to make better data-driven decisions that put them in a better financial and educational position to positively impact teachers giving them a competitive advantage.
