doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=Edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title #{title}
        // HTML
        // Custom Styles

        link(rel='stylesheet' href='/style.css')


        script(src='/main.js' delay='true')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.2/css/all.css' integrity='sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu' crossorigin='anonymous')

        body
            include _header

            block content 
                h1 

            include _footer
script(src='assets/js/jquery.min.js')
script(src='assets/js/skel.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
script(src='/js/bundle.js')



