extends base 

block content
  // particles.js container
  #particles-js
    .bg-full

      .main-error
        .error
          .error-title
            h1.error-heading oooh Something went wrong
            p.error-emoji 😞
            p.error-msg= msg