extends base

block content 
    .bg-full
      .reset-section
        i.fas.fa-5x.fa-lock.lock
        h1 Forgot Password ?
        p You can reset your password here. 
        form.forgot
          input#email(type='email' name='' placeholder='Enter your Email')
          br
          button.btn(href='') Reset password
