extends base 

block content
    .fill.container-resource
        .hcontain
            .post-form
                form(action='#')
                    input.title(placeholder='Title' type='text')
                    textarea.text(placeholder='Sharing an insight today?' type='textarea')
                    div
                        input.file(type='file')
                        button Post
            .content-list-res
                .list-item-card
                    img.card-image(src='./assets/preview2.jpg' alt='')
                    a.h11(href='/post')
                        .list-caption See how Philip explained the best practices as a teacher
                        span.sub We are new here to make life easy for you even to the...
                    .author Created by: 
                        span John Adams
                .list-item-card
                    img.card-image(src='./assets/preview2.jpg' alt='')
                    a.h11(href='/post')
                        .list-caption See how Philip explained the best practices as a teacher
                        span.sub We are new here to make life easy for you even to the...
                    .author Created by: 
                        span Steve Jobs
                .list-item-card
                    img.card-image(src='./assets/library.jpg' alt='')
                    a.h11(href='/post')
                        .list-caption See how Philip explained the best practices as a teacher
                        span.sub We are new here to make life easy for you even to the...
                    .author Created by: 
                        span Alan Joe
                .list-item-card
                    img.card-image(src='./assets/library.jpg' alt='')
                    a.h11(href='resource.html')
                        .list-caption See how Philip explained the best practices as a teacher
                        span.sub We are new here to make life easy for you even to the...
                    .author Created by: 
                        span Treach
                .list-item-card
                    img.card-image(src='./assets/library.jpg' alt='')
                    a.h11(href='#')
                        .list-caption See how Philip explained the best practices as a teacher
                        span.sub We are new here to make life easy for you even to the...
                    .author Created by: 
                        span John Adams
                .list-item-card
                    img.card-image(src='./assets/preview2.jpg' alt='')
                    a.h11(href='#')
                        .list-caption See how Philip explained the best practices as a teacher
                        span.sub We are new here to make life easy for you even to the...
                    .author Created by: 
                        span John Adams
        

