extends base

block content 
  .container
    .top-layer
      .textbox This is the best digital world for you as a 
        span Teacher
        div
          a.opaque-btn(href='#') Try Treach Premium
          a.transparent-btn(href='/signup') Free
      img.image(src='./assets/teacher_1.jpg')
    .second-layer
      h4 Get more on Treach
      h6 Treach gives you the growth you deserve, networking and unlimited access to knowledge as a teacher.
      .horizontal-flow
        .card
          | Free forever
        .card
          | Card2

