extends base

block content 
    .container
      .top-layer
        .textbox
          span.animate
        img.image(src='./assets/teacher_1.jpg')
      .second-layer
        h4 Get more on Treach
        h6
          | Treach gives you the growth you deserve, networking and unlimited
          | access to knowledge as a teacher.
        .horizontal-flow
          a(href='')
            .card
              h5 Treach Online
              p
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, molestias sint eos maiores cupiditate
                | ratione reiciendis modi incidunt similique ipsum, voluptas nam blanditiis ad officiis perspiciatis explicabo
                | veniam unde id?
          .card
            h5 Treach USSD
            p
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum corporis vero, minus ullam placeat
              | blanditiis optio quo temporibus tempore! Hic reiciendis nemo tempore molestiae harum, qui facilis animi
              | quaerat similique.
      .second-layer.white
        h4 Features
        h6
          | Our features are carved with teachers in mind.
        .horizontal-flow.white
          .card
            div
              img.illustration(src='./assets/asset2.png' alt='')
            .center
              span.illustration-caption USSD
          .card
            div
              img.illustration(src='./assets/asset3.png' alt='')
            .center
              span.illustration-caption Unlimited Resources
          .card
            div
              img.illustration(src='./assets/asset1.png' alt='')
            .center
              span.illustration-caption Jobs & Offers
    // Project
    script(src='./assets/type/typed.js')
    script.
      var typed = new Typed('.animate', {
      strings: [
      "Do you desire to learn ?",
      "Learn from Africa's best teachers",
      "Learning support to keep your education on course",
      "Treach, to reach your goals",
      "Treach, re-imagine what's possible as an educator"
      ],
      typeSpeed: 100,
      backSpeed: 100,
      backDelay: 500,
      startDelay: 1000,
      loop: true,
      });
