extends base 

block content
  // particles.js container
  #particles-js
    .bg-full

      .reset-section
        form.forgot
          input#email(type='email' name='' placeholder='Enter your Email')
          br
          button.btn(href='') Reset password