extends base

block content
    .container-career
        .career-content
            h1 Jobs & Career
            .img-cap
                img.career-img(src='./assets/Job.gif' alt='')
                span
                    | Join the teams of teachers.
                    p Grow professionally from our loads of job directories
            .jobs
                each job in jobs
                    .job-card
                        span.title= job.title
                        .time-loc
                            span.role= job.employmentType
                            span.location= job.place.split(',')[1]
                        a.apply-btn(href=`${job.applyLink}`) Apply
                
