extends base

block content
#particles-js
  .bg-full
    .login-card
      span Treach
      form.form-group.login-data
        input(placeholder='E-mail' type='text' id='email')
        input(placeholder='Password' type='password' id='password')
        .check
          a(href='/forgotpassword').reset Forgot Password ?
        button.btn-box(type='submit') Log in
// particles.js container
#particles-js
  .bg-full
    button.col-right
      a(href='signup.html') Sign up
    .login-card
      span Treach
      form.form-group(action='../../resource.html')
        input(placeholder='E-mail' type='text')
        input(placeholder='Password' type='password')
        .check
          input.checkbox(type='checkbox')
          span Remember me
        button.btn-box(type='submit') Log in 
// scripts
script(src='../particles.js')
script(src='js/app.js')




