extends base

block content
    .container-resource
        .res-content
            div
                img.resource-img(src='./assets/teacher_1.jpg' alt='')
                h1  Lorem ipsum dolor sit amet consectetur adipis.
                h4
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cumque blanditiis laborum totam iste ratione,
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nemo quasi pariatur accusamus quis debitis
                    | suscipit laudantium molestias nulla quia officia voluptates consequatur exercitationem laboriosam nihil at,
                    | eveniet animi ducimus! neque tenetur tempore. Nesciunt ab quam, dolorem libero delectus iste enim earum quidem
                    | ut assumenda!
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis error ipsum dolorem quod laudantium cupiditate totam praesentium deserunt fugit, accusantium excepturi ipsa iusto, ducimus quis dolorum maxime aliquid nam repudiandae!
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. At deserunt placeat odit recusandae ipsa excepturi facere, eos nam hic esse nemo deleniti, aperiam et vitae rerum. Unde excepturi maxime eligendi!Lorem
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, alias tempore officia saepe molestiae non voluptatum perferendis repudiandae deserunt repellendus ducimus sunt, officiis blanditiis ipsam. Excepturi saepe veritatis molestiae explicabo?
 
