extends base

block content
    .container-resource
        .res-content
            div
                img.resource-img(src=`/img/posts/${post.images[0]}` alt='')
                h1= post.title
                    each para in paragraph
                        h4= para









