extends base

block content
    .bg-full
        .login-card
            span Enter New Password
            form.form-group.reset-data
                input(placeholder='New password' type='password' id='password')
                input(placeholder='Confirm password' type='password' id='passwordConfirm')
                input#token(type='hidden'   value=`${resetToken}`)
                button.btn-box(type='submit') Reset Password

