html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='style.css')
    title #{title}
  body
    .bg-full
      button.col-right
        a(href='/login') Log in
      .login-card-l
        span Treach
        form.form-group(action='')
          input(placeholder='First name' type='text')
          input(placeholder='Last name' type='text')
          input(placeholder='E-mail' type='email')
          input(placeholder='Password' type='password')
          .check
            input.checkbox(type='checkbox')
            span.tc By clicking submit, you agree with our 
              a(href='#') Terms & Conditions
          button.btn-box(type='submit') Sign up
