@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  
  
  width: 100%;
  min-height: 3.0em;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 1;
}

header {
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 10px;
  position: relative;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bolder;
  color: #087af2;
}

section header ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

section header ul li {
}

section header ul li a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}

section header ul li .opaque-btn {
  text-align: center;
  width: 100%;
  font-size: 80%;
  background-color: #087af2;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  border: 1px inset rgb(0, 0, 0, 22%);
  border-radius: 3px;
}

section header ul li .transparent-btn {
  text-align: center;
  width: 100%;
  font-size: 80%;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  border: 1px inset rgb(0, 0, 0, 22%);
  color: #000000;
  border-radius: 3px;
}

.container {
  margin-top:15px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

.image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  margin-top: 30px;
}

.container .top-layer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.container .top-layer .textbox {
  margin-top: 40px;
  color: rgb(90, 90, 90);
  margin-left: 10px;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  padding-right: 30px;
}

.container .top-layer .textbox span {
  font-weight: 700;
  background-color: #ebcc02;
  color: #fff;
  padding: 10px;
}

.container .top-layer .textbox div {
  margin-top: 20px;
}

.container .top-layer .textbox .opaque-btn {
  text-align: center;
  background-color: #087af2;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px inset rgb(0, 0, 0, 22%);
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  border-radius: 3px;
}

.container .top-layer .textbox .transparent-btn {
  text-align: center;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  border: 1px inset rgb(0, 0, 0, 22%);
  color: #000000;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 10px;
  font-weight: 500;
  border-radius: 3px;
}

.second-layer {
  background-color: #087af2;
  width: 100%;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

.second-layer h4 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}

.second-layer h6 {
  word-wrap: break-word;
  font-size: 10px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  margin-top: 10px;
}

.horizontal-flow {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.horizontal-flow .card {
  border-radius: 10px;
  width: 280px;
  height: 300px;
  background-color: #fff;
  margin: 20px;
  padding: 10px ;
}



.bg-full
{
  flex-direction: column;
  display: flex;
  width: 100%;
  min-height:100vh ;
  background-color: #087af2;
  justify-content: center;
  align-items: center;
}

.login-card
{
  display: flex;
  border-radius: 10px;
  width: 280px;
  height: 280px;
  background-color: #fcfcfc;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.login-card span
{
  color: #087af2;
  font-weight: 600;
}



.form-group
{
  margin-top: 20px;
  display: flex;
  width: 260px;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.form-group input

{
  border-radius: 3px;
  width: 200px;
  height: 30px;
  margin-top: 20px ;
  padding-left: 10px ;
  color: #c5c5c5;
  border: 0.5px solid #c5c5c5;
  
}

.form-group .checkbox
{
 width: 20px;
 height: 20px;
}

.form-group span
{
  margin-left: 30px;
  font-size: 10px;
  margin-top: 22px ;
  color: #b5b5b5;
}
  

.form-group .check
{
  display: flex;
  flex-direction: row;
  width: 200px;
  align-items: center
  
}



.bg-full button
{
  border-radius: 3px;
  position: absolute;
  top: 20;
  right: 20px;
  padding: 10px 35px;
  font-size: 12px;
  font-weight: 600;
  
}

.bg-full .col-right
{
  background-color: #087af2;
  color: #fff;
  border: 1px inset #eeeeee;
}

.bg-full .col-right a
{
  color: #fff;
  text-decoration: none;
}


.bg-full .btn-box
{
  width: 200px;
  position:relative;
  top: 15px;
  right:0px;
  background-color: #087af2;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border: 1px inset #087af2;
  
}

.login-card-l
{
  display: flex;
  border-radius: 10px;
  width: 280px;
  height: 400px;
  background-color: #fcfcfc;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.login-card-l span
{
  color: #087af2;
  font-weight: 600;
}

.login-card-l .tc
{
  margin-right: 20px;
  text-align: center;
  color: #c5c5c5;
}

.login-card-l a
{
  text-decoration: none;
  color: #087af2
}

