/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
li {
  list-style: none;
}

/* =============================================================================
   My CSS
   ========================================================================== */

.bg-full {
  position: absolute;
  flex-direction: column;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-card {
  display: flex;
  border-radius: 10px;
  width: 280px;
  height: 280px;
  background-color: #fcfcfc;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.login-card span {
  color: #087af2;
  font-weight: 600;
}

.form-group {
  margin-top: 20px;
  display: flex;
  width: 260px;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-group input {
  border-radius: 3px;
  width: 200px;
  height: 30px;
  margin-top: 20px;
  padding-left: 10px;
  color: #c5c5c5;
  border: 0.5px solid #c5c5c5;
}

.form-group .checkbox {
  width: 20px;
  height: 20px;
}

.form-group span {
  margin-left: 30px;
  font-size: 10px;
  margin-top: 22px;
  color: #b5b5b5;
}

.form-group .check {
  display: flex;
  flex-direction: row;
  width: 200px;
  align-items: center;
}

.bg-full button {
  border-radius: 3px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 35px;
  font-size: 12px;
  font-weight: 600;
}

.bg-full .col-right {
  background-color: #087af2;
  color: #fff;
  border: 1px inset #eeeeee;
}

.bg-full .col-right a {
  color: #fff;
  text-decoration: none;
}

.bg-full .btn-box {
  width: 200px;
  position: relative;
  top: 15px;
  right: 0px;
  background-color: #087af2;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border: 1px inset #087af2;
}

.login-card-l {
  display: flex;
  border-radius: 10px;
  width: 280px;
  height: 400px;
  background-color: #fcfcfc;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.login-card-l span {
  color: #087af2;
  font-weight: 600;
}

.login-card-l .tc {
  margin-right: 20px;
  text-align: center;
  color: #c5c5c5;
}

.login-card-l a {
  text-decoration: none;
  color: #087af2;
}

.white {
  background-color: #fff;
}

.white h4 {
  color: #000000;
}

.white h6 {
  color: #000000;
}

/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
  background: #111;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Poppins, Helvetica, sans-serif;
}

canvas {
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #087af2;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
